<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="mainPortal/layout :: head (pageTitle=#{access.title})"></head>
<body>
    <div class="container">
        <!-- Import navigation bar -->
        <div th:replace="mainPortal/layout :: navbar"></div>

        <h1 th:text="${title}">Error</h1>
        <p class="alert alert-error">Access denied:
            you do not have permission for that resource</p>
        <div th:text="${message}">Fake content</div>
        <div>Please contact the operator with the above information.</div>
    </div>

    <!-- Import footer -->
    <div th:replace="mainPortal/layout :: footer"></div>
</body>
</html>