<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{login.title}">Title text</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
</head>
<body onload="document.f.username.focus();">
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a th:href="@{/}" href="homepage.html"> Home </a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <p th:if="${param.logout}" class="alert">You have been logged out</p>
            <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
            <p th:if="${param.success}" class="alert">User has been successfully created</p>
            <h2>Login with Username and Password</h2>
            <form name="form" th:action="@{/login}" action="/login" method="POST">
                <fieldset>
                    <input type="text" name="username" value="" placeholder="Username"/>
                    <input type="password" name="password" placeholder="Password"/>
                </fieldset>
                <input type="submit" id="login" value="Login" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</body>
</html>