<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="mainPortal/layout :: head (pageTitle=#{login.title})"></head>
<body onload="document.loginForm.username.focus();">
    <div class="container">
        <!-- Import navigation bar -->
        <div th:replace="mainPortal/layout :: navbar"></div>

        <canvas id="backgroundCanvas" style="position: absolute; z-index: 1"></canvas>

        <canvas id="imageCanvas" style="position: absolute; z-index: 2"></canvas>

        <canvas id="loginCanvas" style="position: absolute; z-index: 3"></canvas>

        <biv id="inlogForm" style="position:absolute; z-index: 4">       </biv>
            <div class="frontContent" style="position: absolute; z-index: 5">
                <div class="content" id="content">
                    <p th:if="${param.logout}" class="alert" th:text="#{login.alerts.logout}">Logout message</p>
                    <p th:if="${param.error}" class="alert alert-error" th:text="#{login.alerts.error}">Error message</p>
                    <h2 th:text="#{login.header}">Login</h2>
                    <form name="loginForm" th:action="@{/login}" action="/login" method="POST">
                        <fieldset>
                            <input type="text" id="username" name="username" value="" th:placeholder="#{login.username}"/>
                            <input type="password" id="password" name="password" th:placeholder="#{login.password}"/>
                        </fieldset>
                        <input type="submit" id="login" th:value="#{login.login}" class="btn btn-primary"/>
                    </form>
                </div>
                <div class="languageselect">
                    <span th:text="#{languageselect.languages}">Languages</span>:
                    <a href="?lang=en" th:text="#{languageselect.english}">English</a> -
                    <a href="?lang=nl" th:text="#{languageselect.dutch}">Dutch</a>
                </div>
            </div>
    </div>


    <!-- Import footer -->
    <div th:replace="mainPortal/layout :: footer"></div>
</body>
</html>