<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{login.title}">Title text</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
</head>
<body onload="document.f.username.focus();">
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a th:href="@{/}" href="homepage.html" th:text="#{navbar.home}">Home</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <p th:if="${param.logout}" class="alert" th:text="#{login.alerts.logout}">Logout message</p>
            <p th:if="${param.error}" class="alert alert-error" th:text="#{login.alerts.error}">Error message</p>
            <h2 th:text="#{login.header}">Login</h2>
            <form name="form" th:action="@{/login}" action="/login" method="POST">
                <fieldset>
                    <input type="text" name="username" value="" th:placeholder="#{login.username}"/>
                    <input type="password" name="password" th:placeholder="#{login.password}"/>
                </fieldset>
                <input type="submit" id="login" th:value="#{login.login}" class="btn btn-primary"/>
            </form>
        </div>
        <div class="languageselect">
            <span th:text="#{languageselect.languages}">Languages</span>:
            <a href="?lang=en" th:text="#{languageselect.english}">English</a> -
            <a href="?lang=nl" th:text="#{languageselect.dutch}">Dutch</a>
        </div>
    </div>
</body>
</html>