<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="mainPortal/layout :: head (pageTitle=#{registration.title})"></head>
<body>
    <div class="container">
        <!-- Import navigation bar -->
        <div th:replace="mainPortal/layout :: navbar"></div>

        <div class="content">
            <p th:if="${param.error}" class="alert alert-error" th:text="#{registration.alerts.error}">There was an error, please try again</p>
            <p th:if="${param.errorAlreadyExists}" class="alert alert-error" th:text="#{registration.alerts.errorAlreadyExists}">Username already exists! Choose another username and try again.</p>

            <div id="registrationPage" class="mainPortalPage">
                <div class="frontContent">
                    <h2 th:text="#{registration.header}">Registration</h2>
                    <form action="#" th:action="@{/Registration}" th:object="${user}" method="post">

                        <h3 class="sub-header col-md-6" th:text="#{user}"></h3>
                        <h3 class="sub-header col-md-6" th:text="#{roles}" style="vertical-align: top"></h3>
                        <table class="table-responsive col-md-6">
                            <tr>
                                <td th:text="#{registration.firstname}">firstname</td>
                                <td><input type="text" th:field="*{firstName}"/></td>
                                <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>
                            </tr>
                            <tr>
                                <td th:text="#{registration.lastname}">lastname</td>
                                <td><input type="text" th:field="*{lastName}"/></td>
                                <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</td>
                            </tr>
                            <tr>
                                <td th:text="#{registration.username}">username</td>
                                <td><input type="text" th:field="*{userName}"/></td>
                                <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name Error</td>
                            </tr>
                            <tr>
                                <td th:text="#{registration.password}">password</td>
                                <td><input type="password" th:field="*{password}"/></td>
                                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
                            </tr>
                        </table>

                        <select th:field="*{roles}" multiple="multiple" class="table-responsive col-md-6">
                            <option th:each="role:${allRoles}"
                                    th:value="${{role}}"
                                    th:text="${role.name}">
                            </option>
                        </select>

                        <p class="col-md-12">
                            <input id="submit" type="submit" class="btn btn-primary" th:value="#{registration.create}"/>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Import footer -->
    <div th:replace="mainPortal/layout :: footer"></div>
</body>
</html>