<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="mainPortal/layout :: head (pageTitle=#{usersToTest.title})"></head>
<body>
<div class="container">
    <!-- Import navigation bar -->
    <div th:replace="mainPortal/layout :: navbar"></div>

    <div id="usersPage" class="mainPortalPage">
        <div class="frontContent">
            <div class="messagesContent">
                <div th:if="${param.userAdded}" class="alert alert-success" role="alert" style="text-align:center; width:500px; left:0; right:0; margin-left:auto; margin-right:auto; position:absolute">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <span class="sr-only">Info: </span>
                    <span id="userAddedAlert" th:text="#{registration.alerts.userAdded}">New user has been created</span>
                </div>
                <div th:if="${param.userEdited}" class="alert alert-success" role="alert" style="text-align:center; width:500px; left:0; right:0; margin-left:auto; margin-right:auto; position:absolute">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <span class="sr-only">Info: </span>
                    <span th:text="#{registration.alerts.userEdited}">User has been edited</span>
                </div>
                <div th:if="${param.userRemoved}" class="alert alert-warning" role="alert" style="text-align:center; width:500px; left:0; right:0; margin-left:auto; margin-right:auto; position:absolute">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Info: </span>
                    <span th:text="#{registration.alerts.userRemoved}">User has been removed</span>
                </div>
            </div>

            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li><a th:href="@{/Registration}" href="registration.html" th:text="#{users.createUser}">Create user</a></li>
                    </ul>
                </div>
            </div>

            <div style="height: 60vh; overflow-y: auto">
                <table class="table">
                    <tr th:each="u : ${allUsers}">
                        <td th:text="${u.firstName} + ' ' + ${u.lastName}"/>
                        <td th:text="${u.userName}"/>
                        <td><a th:href="@{'/Users/'+${u.userName}+'/'}"><span class="glyphicon glyphicon-pencil" th:title="#{users.editUser}"></span></a></td>
                        <td><a th:href="@{'/AssignTest/'+${u.userName}+'/'}"><span class="glyphicon glyphicon-hand-right" th:title="#{assignTest.title}"></span></a></td>
                        <td><a th:href="@{'/Users/'+${u.userName}+'/Delete'}"><span class="glyphicon glyphicon-remove" th:title="#{users.deleteUser}"></span></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Import footer -->
<div th:replace="mainPortal/layout :: footer"></div>
</body>
</html>