<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="mainPortal/layout :: head (pageTitle=#{users.title})"></head>
<body onload="initPage()">

    <script type="text/javascript">
        function initPage(){
            $('#roles').multiSelect({
                selectableHeader: '<div class="custom-header" th:text="#{selectable.items}">Selectable items</div>',
                selectionHeader: '<div class="custom-header" th:text="#{selected.items}">Selected items</div>'
            });
        }

    </script>

    <div class="container">
        <!-- Import navigation bar -->
        <div th:replace="mainPortal/layout :: navbar"></div>

        <div class="mainPortalPage">
            <div class="frontContent">
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li><a th:href="@{/Registration}" href="registration.html"> Create user </a></li>
                        </ul>
                    </div>
                </div>
                <div class="content">
                    <form action="#" th:action="@{/Users}" method="post" th:object="${user}" th:if="${user}">
                        <input th:type="hidden" th:field="*{id}"/>

                        <div class="container">

                            <h3 class="sub-header col-md-6" th:text="#{user}" ></h3>
                            <h3 class="sub-header col-md-6" th:text="#{roles}" style="vertical-align: top"></h3>
                            <table class="table-responsive col-md-6">
                                <tr>
                                    <td th:text="#{users.firstname}">firstname</td>
                                    <td><input type="text" th:field="*{firstName}"/></td>
                                    <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>
                                </tr>
                                <tr>
                                    <td th:text="#{users.lastname}">lastname</td>
                                    <td><input type="text" th:field="*{lastName}"/></td>
                                    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</td>
                                </tr>
                                <tr>
                                    <td th:text="#{users.username}">username</td>
                                    <td><input type="text" th:field="*{userName}"/></td>
                                    <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name Error</td>
                                </tr>
                                <tr>
                                    <td th:text="#{users.oldPassword}">password</td>
                                    <td><input type="password" th:field="*{password}"/></td>
                                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
                                </tr>
                                <!-- <tr>
                                    <td th:text="#{users.newPassword}">password</td>
                                    <td><input type="password" th:field="*{password}"/></td>
                                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
                                </tr>
                                <tr>
                                    <td th:text="#{users.newPasswordRepeat}">password</td>
                                    <td><input type="password" th:field="*{password}"/></td>
                                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
                                </tr> -->
                            </table>

                            <select th:field="*{roles}" multiple="multiple" class="table-responsive col-md-6">
                                <option th:each="role:${allRoles}"
                                        th:value="${{role}}"
                                        th:text="${role.name}">
                                </option>
                            </select>
                        </div>

                        <p class="col-md-12">
                            <a href="/users" th:text="#{back}" class="btn btn-primary">Back</a>
                            <button type="submit" th:text="#{save}" class="btn btn-primary">Save</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Import footer -->
    <div th:replace="mainPortal/layout :: footer"></div>
</body>
</html>