<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="testPortal/layout :: head (pageTitle=#{fittstest.result})"></head>

<body>

    <div class="container">
        <!-- Import navigation bar -->
        <div th:replace="testPortal/layout :: navbar"></div>

        <div class="testPortalPage">
            <h3 th:text="'Test: ' + ${fittsTest.testID}" />
            <table class="table col-md-6">
                <tr th:each="resultsMapEntry : ${resultsMap}">
                    <td th:text="#{fittstest.stage} + ' ' + ${resultsMapEntry.key} + ':'"/>
                    <td th:text="#{fittstest.throughput} + ' ' + ${resultsMapEntry.value.value}"/>
                    <td th:text="#{fittstest.soi} + ' ' + ${resultsMapEntry.value.key}"/>
                </tr>
                <tr>
                    <th th:text="#{fittstest.totalThroughput}">Total throughput:</th>
                    <th th:text="${totalThroughput}"/>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>

    <!-- Import footer -->
    <div th:replace="testPortal/layout :: footer"></div>
</body>
</html>