<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="testPortal/layout :: head (pageTitle=#{fittstest.title})"></head>
<head>
    <!-- Included scripts -->
    <script type="text/javascript" th:src="'/js/fittsTest/FittsDot.js?v=' + #{application.version.main} + '.' + #{application.version.minor}"></script>
    <script type="text/javascript" th:src="'/js/fittsTest/FittsTest.js?v=' + #{application.version.main} + '.' + #{application.version.minor}"></script>
</head>

<body>
    <div class="container">
        <!-- Import navigation bar -->
        <div th:replace="testPortal/layout :: navbar"></div>

        <div class="frontContent" id="frontContent">
            <!-- Fitts test -->
            <canvas id="FittsCanvas"></canvas>
        </div>
    </div>

    <!-- Import footer -->
    <div th:replace="testPortal/layout :: footer"></div>

    <!-- Resize canvas -->
    <script type="text/javascript">
        window.addEventListener('resize', resizeEvent, false);

        //Initial sizing
        resizeEvent();

        function resizeEvent(event)
        {
            var frontContent = document.getElementById("frontContent");
            var FittsCanvas = document.getElementById("FittsCanvas");

            var newWidth = frontContent.offsetWidth;
            var newHeight = window.innerHeight;

            FittsCanvas.width = newWidth;
            FittsCanvas.height = newHeight;

            console.log("Resize width: " + newWidth + " height: " + newHeight);
        }
    </script>

    <!-- Load Fitts Test script -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var testAttr=[];
        testAttr.testID=/*[[${runningTest.testID}]]*/;
        testAttr.numberOfDots=/*[[${runningTest.numberOfDots}]]*/;
        testAttr.dotsSize=/*[[${runningTest.dotSize}]]*/;
        testAttr.dotDistance=/*[[${runningTest.dotDistance}]]*/;
        /*]]>*/
    </script>
    <script type="text/javascript" th:src="'/js/fittsTest/FittsTestMain.js?v=' + #{application.version.main} + '.' + #{application.version.minor}"></script>
</body>
</html>