<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="testPortal/layout :: head (pageTitle=#{fittstest.result})"></head>

<body>

    <div class="container">
        <!-- Import navigation bar -->
        <div th:replace="testPortal/layout :: navbar"></div>

        <div class="testPortalPage">
            <h3 th:text="'Test: ' + ${fittsTest.testID}" />
            <div class="col-md-6">
                <table class="col-md-3">
                    <tr th:each="stageId: ${stageResult}">
                        <td th:text="'Throughput stage ' + ${stageId.stageOrderIndex} + ':'"/>
                    </tr>
                </table>
                <table class="col-md-3">
                    <tr th:each="stageThroughput: ${throughput.stageThroughput}">
                        <td th:text="${stageThroughput}"/>
                    </tr>
                </table>
            </div>
            <div class="col-md-12">
                <td>Total throughput: </td>
                <td th:text="${throughput.totalThroughput}" />
            </div>
        </div>
    </div>

    <!-- Import footer -->
    <div th:replace="testPortal/layout :: footer"></div>
</body>
</html>