<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="testPortal/layout :: head (pageTitle='Fittstest creator')"></head>
<head>
    <!-- Included bootstrap-slider -->
    <link href="https://cdn.rawgit.com/seiyria/bootstrap-slider/v5.2.6/dist/css/bootstrap-slider.min.css"
          th:href="@{/webjars/seiyria-bootstrap-slider/5.2.6/dist/css/bootstrap-slider.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="https://cdn.rawgit.com/seiyria/bootstrap-slider/v5.2.6/dist/bootstrap-slider.min.js"
            th:src="@{/webjars/seiyria-bootstrap-slider/5.2.6/dist/bootstrap-slider.min.js}"></script>
</head>
<body>
    <div class="container">
        <!-- Import navigation bar -->
        <div th:replace="testPortal/layout :: navbar"></div>

        <div class="content">
            <p th:if="${param.success}" class="alert" th:text="#{fittsTestCreator.alerts.success}">New user has been created</p>
            <p th:if="${param.error}" class="alert alert-error" th:text="#{fittsTestCreator.alerts.error}">There was an error, please try again</p>
            <p th:if="${param.errorAlreadyExists}" class="alert alert-error" th:text="#{fittsTestCreator.alerts.errorAlreadyExists}">Unique ID already exists! Choose another username and try again.</p>
            <div class="testPortalPage">
                <h2>Create Fitts-Test</h2>
                <form>
                    Number of dots: <input id="numberOfDotsSlider" type="text"/>
                </form>
                <!--<form action="#" th:action="@{/fittsTestCreator}" th:object="${fittstest}" method="post">
                    <table class="table">
                        <tr>
                            <td >The unique name of the Fittstest</td>
                            <td><input type="text" th:field="*{testID}"/> </td>
                        </tr>
                        <tr>
                            <td >The amount of Dots</td>
                            <td><input type="text" th:field="*{numberOfDots}"/></td>
                        </tr>
                        <tr>
                            <td >The size of the Dots</td>
                            <td><input type="text" th:field="*{dotSize}"/></td>
                        </tr>
                        <tr>
                            <td >The distance between the Dots</td>
                            <td><input type="text" th:field="*{dotDistance}"/></td>
                        </tr>
                    </table>
                    <p><input type="submit" class="btn btn-primary" th:value="#{fittsTestCreator.create}"/></p>
                </form>-->
            </div>
        </div>
    </div>

    <!-- Import footer -->
    <div th:replace="testPortal/layout :: footer"></div>

    <!-- Slider scripts -->
    <script type="text/javascript">
        var numberOfDotsSlider = new Slider("#numberOfDotsSlider", {step: 2, min: 3, max: 21});
    </script>
</body>
</html>