<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="testPortal/layout :: head (pageTitle=#{fittstest.title})"></head>
<head>
    <!-- Included scripts -->
    <script type="text/javascript" th:src="'/js/fittsTest/FittsDot.js?v=' + #{application.version.main} + '.' + #{application.version.minor}"></script>
    <script type="text/javascript" th:src="'/js/fittsTest/FittsTrackEvent.js?v=' + #{application.version.main} + '.' + #{application.version.minor}"></script>
    <script type="text/javascript" th:src="'/js/fittsTest/FittsTrackPath.js?v=' + #{application.version.main} + '.' + #{application.version.minor}"></script>
    <script type="text/javascript" th:src="'/js/fittsTest/FittsTracking.js?v=' + #{application.version.main} + '.' + #{application.version.minor}"></script>
    <script type="text/javascript" th:src="'/js/fittsTest/FittsTestStage.js?v=' + #{application.version.main} + '.' + #{application.version.minor}"></script>
    <script type="text/javascript" th:src="'/js/fittsTest/FittsTest.js?v=' + #{application.version.main} + '.' + #{application.version.minor}"></script>
</head>

<body>
    <div class="container">
        <!-- Import navigation bar -->
        <div th:replace="testPortal/layout :: navbar"></div>

        <!-- Modal popup -->
        <div id="continueModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Test finished</h4>
                    </div>
                    <div class="modal-body">
                        <p>You can return to the main test portal or immediately start the next test.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="/TestPortal"><button type="button" class="btn btn-primary">Return</button></a>
                        <a id="nextTestLink" href="/TestPortal"><button type="button" class="btn btn-primary">Next test</button></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="frontContent" id="frontContent">
            <!-- Fitts test -->
            <canvas id="FittsCanvas"></canvas>
        </div>
    </div>

    <!-- Import footer -->
    <div th:replace="testPortal/layout :: footer"></div>

    <!-- Resize canvas script -->
    <script type="text/javascript">
        window.addEventListener('resize', resizeEvent, false);

        //Initial sizing
        resizeEvent();

        function resizeEvent(event)
        {
            var frontContent = document.getElementById("frontContent");
            var FittsCanvas = document.getElementById("FittsCanvas");

            var newWidth = frontContent.offsetWidth;
            var newHeight = window.innerHeight;

            FittsCanvas.width = newWidth;
            FittsCanvas.height = newHeight;
        }
    </script>

    <!-- Leave page script -->
    <script type="text/javascript">
        window.addEventListener('beforeunload', leavePageEvent, false);

        function leavePageEvent(event)
        {
            if(!testFinished())
            {
                event.returnValue = "The test is not finished yet, all progress made will be lost!";
            }
        }
    </script>

    <!-- Load Fitts Test script -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var testAttr=/*[[${runningTest}]]*/;
        /*]]>*/
    </script>
    <script type="text/javascript" th:src="'/js/fittsTest/FittsTestMain.js?v=' + #{application.version.main} + '.' + #{application.version.minor}"></script>
</body>
</html>