<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="testPortal/layout :: head (pageTitle=#{navbar.fittstest})"></head>

<body>
    <div class="container">
        <!-- Import navigation bar -->
        <div th:replace="testPortal/layout :: navbar"></div>

        <!-- Modal popup with testdetails -->
        <div id="detailsModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 id="modal-details-title" class="modal-title" th:text="#{fittstest.details}">Details</h4>
                    </div>
                    <div class="modal-body">
                        <table>
                            <td th:text="#{fittstest.amtOfStages} + ' '">Amount of stages</td>
                            <td id="amtOfStages">#</td>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{return}">Return</button>
                        <a id="startTestLink" href="/TestPortal" th:text="#{fittstest.start}" class="btn btn-primary"></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="testPortalPage">
            <table class="table">
                <tr th:each="testEntry : ${allUserFittsTests}">
                    <td th:text="${testEntry.key.testID}" style="vertical-align: middle"/>
                    <td style="vertical-align: middle">Completed: <span th:class="${testEntry.value} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'" th:style="${testEntry.value} ? 'color:green; font-size:16px' : 'color:red; font-size:16px'"></span></td>
                    <td><a th:href="${testEntry.value} ? '/TestResult/'+${testEntry.key.testID}+'/' : '/TestPortal/'+${testEntry.key.testID}+'/'" th:text="${testEntry.value} ? #{fittstest.viewResult} : #{fittstest.startTest}" class="btn btn-primary">Start Test</a></td>
                    <td><button th:text="#{fittstest.viewDetails}" class="btn btn-primary" th:onclick="'details(\''+${testEntry.key.testID}+'\');'">View Details</button></td>
                    <td sec:authorize="hasRole('test-management')"><a th:text="#{fittstest.editTest}" class="btn btn-primary" th:href="'/FittsTestCreator/'+${testEntry.key.testID}+'/'">Edit</a></td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Import footer -->
    <div th:replace="testPortal/layout :: footer"></div>

    <!-- test details script -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        function details(testID) {
            alltests = /*[[${allUserFittsTests.keySet()}]]*/
            detailstext = /*[[#{fittstest.details}]]*/'';

            for(i = 0; i < alltests.length; i++)
            {
                if(alltests[i].testID === testID)
                {
                    $('#modal-details-title').text(detailstext + " " + testID );
                    $('#amtOfStages').text(" " + alltests[i].testStages.length);
                    $('#startTestLink').attr("href", '/TestPortal/'+testID+'/' );
                    $('#detailsModal').modal('show');
                }
            }
        }
        /*]]>*/
    </script>
</body>
</html>